<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="research-introduce">
          <h1 id="research-label">商品リサーチフォーム</h1>
          <p id="introduce">※ リサーチしたい商品を</br>日本語と中国語でそれぞれ入力してみましょう！</p>
        </div>
      </div>
    </div>
  </div>
  <%= form_with url: item_research_scrape_path, method: :get, local: true do |f| %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="text-search-japan">
            <%= f.text_field :search, placeholder: "日本語キーワード入力　例：バスケットボール", class:"form-control" %>
            <div class="money-label">
              <label for="number" class="control-label col-md-3">金額</label>
              <%= f.select :japan_min_price, [['下限なし', 0], ['1,000', 1000], ['5,000', 5000], ['10,000', 10000], ['50,000', 50000], ['100,000', 100000], ['500,000', 500000], ['1,000,000', 1000000]] %>
              <%= f.select :japan_max_price, [['上限なし', 1000000], ['1,000', 1000], ['5,000', 5000], ['10,000', 10000], ['50,000', 50000], ['100,000', 100000], ['500,000', 500000], ['1,000,000', 1000000]] %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-search-china">
            <%= f.text_field :china_title, placeholder: "中国語キーワード入力　例：篮球", class:"form-control" %>
            <div class="money-label">
              <label for="number" class="control-label col-md-3">金額</label>
              <select name="num">
                <option value="下限なし">下限なし</option>
                <option value="1,000">1,000</option>
                <option value="5,000">5,000</option>
                <option value="10,000">10,000</option>
                <option value="15,000">15,000</option>
                <option value="1,000,000">1,000,000</option>
              </select>
              <select name="num">
                <option value="上限なし">上限なし</option>
                <option value="1,000">1,000</option>
                <option value="5,000">5,000</option>
                <option value="10,000">10,000</option>
                <option value="15,000">15,000</option>
                <option value="1,000,000">1,000,000</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="research-btn-color">
            <%= f.submit "リサーチ", class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate %>
  <div class="rate">
    <table class="table table-bordered">
      <tbody>
      <tr class="rate-border">
        <th class="rate-color">現在の想定レート</th>
        <td width="205"><%= chanarate(1.5) %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <div class="row">
    <!--jQueryでチェックボックスを択一式に。日本リサーチアイテム -->
    <script type="text/javascript">
        jQuery(function($){
            $(function(){
              $('.japanresearch').on('click', function() {
                if ($(this).prop('checked')){
                    // 一旦全てをクリアして再チェックする
                    $('.japanresearch').prop('checked', false);
                    $(this).prop('checked', true);
                }
              });
            });
        });
    </script>
    <!--jQueryでチェックボックスを択一式に。中国リサーチアイテム -->
    <script type="text/javascript">
        jQuery(function($){
            $(function(){
              $('.chinaresearch').on('click', function() {
                if ($(this).prop('checked')){
                    // 一旦全てをクリアして再チェックする
                    $('.chinaresearch').prop('checked', false);
                    $(this).prop('checked', true);
                }
              });
            });
        });
    </script>
      <%= form_with url: research_update_path, method: :patch, local: true do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%#= f.submit '一括登録ボタン（在庫管理ページへ）', class: "btn btn-primary btn-block" %>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-bordered table-striped table-design">
            <thead>
            <tr class="success">
              <th width="10"></th>
              <th width="34">NO</th>
              <th width="50">商品画像</th>
              <th width="50">商品タイトル（日本）</th>
              <th width="35">リサーチURL</th>
              <th width="40">リサーチ額</th>
            </tr>
            </thead>
            <!--NOにindexを付ける準備-->
            <% a = 0 %>
            <% @researches.each do |research| %>
              <%= fields_for "researches[]", research do |rf| %>
                <% if research.japan_title.presence %>
                  <tbody>
                    <tr class="table-row">
                      <th><!--input type="checkbox" name="jpn_reseach_check" class="japanresearch" value= 1 -->
                        <%#= rf.check_box :jpn_reseach_check, class: "japanresearch" %>
                      </th>

                      <td class="img-url">
                        <%= a += 1 %>
                        (<%= l(research.created_at, format: :date) %>)
                      </td>
                      <td>
                        <img src="<%=(research.japan_image_url) if research.japan_image_url.present? %>"width="100px"height="100px">
                      </td>
                      <td class="title-height">
                        <%= research.japan_title %>
                      </td>
                      <td class="url-over" width="50">
                        <%= text_url_to_link(h(research.japan_url)).html_safe %>
                      </td>
                      <td>
                        <%= research.japan_price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %>円
                      </td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-bordered table-striped table-design">
            <thead>
            <tr class="success">
              <th width="30"></th>
              <th width="80">商品画像</br>(仕入先)</th>
              <th width="80">商品タイトル（中国語）</th>
              <th class="url" width="50">仕入URL</th>
              <th width="60">中国元</th>
              <th width="60">想定単価</th>
            </tr>
            </thead>
            <% @researches.each do |research| %>
              <%= fields_for "researches[]", research do |rf| %>
                <% if research.china_title.presence %>
                  <tbody>
                    <tr class="table-row">
                      <th><!--input type="checkbox" name="chn_reseach_check" class="chinaresearch" value= 1 --><%= rf.check_box :chn_reseach_check, class: "chinaresearch" %></th>
                      <td>
                        <img src="<%= research.china_image_url if research.china_image_url.present?  %>" width="100px">
                      </td>
                      <th class="img-url2"><%= research.china_title if research.china_title.present? %></th>
                      <td class="url-over"><%= research.china_url if research.china_url.present? %></td>
                      <td><%= research.china_price if research.china_price.present? %> </td>
                      <td></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
        <%= f.submit '商品登録', class: "btn btn-primary btn-block"%>
      <% end %>
      <%= will_paginate %>
    </div>
  </div>
</div>