<p id="notice"><%= notice %></p>

<p>
  <strong>Japan image url:</strong>
  <%= @research.japan_image_url %>
</p>

<p>
  <strong>Japan title:</strong>
  <%= @research.japan_title %>
</p>

<p>
  <strong>Japan url:</strong>
  <%= @research.japan_url %>
</p>

<p>
  <strong>Japan description:</strong>
  <%= @research.japan_description %>
</p>

<p>
  <strong>Japan price:</strong>
  <%= @research.japan_price %>
</p>

<p>
  <strong>China image url:</strong>
  <%= @research.china_image_url %>
</p>

<p>
  <strong>China title:</strong>
  <%= @research.china_title %>
</p>

<p>
  <strong>China url:</strong>
  <%= @research.china_url %>
</p>

<p>
  <strong>China price:</strong>
  <%= @research.china_price %>
</p>

<p>
  <strong>Item:</strong>
  <%= @research.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @research.user %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
