<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :仕入日 %>
    <%= form.date_select :inventory_arrival_date %>
  </div>

  <div class="field">
    <%= form.label :想定価格 %>
    <%= form.number_field :purchase_price %>
  </div>

  <div class="field">
    <%= form.label :仲介業者 %>
    <%= form.text_field :trader_name %>
  </div>

  <div class="field">
    <%= form.label :在庫数 %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :最低在庫数 %>
    <%= form.number_field :alert_border_line %>
  </div>

  <div class="field">
    <%= form.label :商品製造番号 %>
    <%= form.text_field :item_number_id %>
  </div>
  <div class="hidden">
    
    <%= form.hidden_field :item_id,value:@item.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
