<table>
  <tr>
    <td width=50></td>
    <td style="padding: 30px 0 30px 670px" width=630>
      <div style="display:inline-flex">
        <button class="btn-square-so-pop"  style="height:35px; width:130px;"  disabled>現在の想定レート</button>
        <input type="text" name="名前" readonly value=<%=chanarate(1.5) %> style="width:70px; text-align: center;"></input>
      </div>
    </td>
    <td width=260></td>
    <td width=30></td>
  </tr>
</table>
<% if @buyitems.present? %>
  <ul class="inner">
    <div class="kousin2">
      <table table border="1" id="table_detail">
        <thead>
        <tr class="tr-back2" style="height:40px;">
          <td align="center">商品画像</td>
          <td align="center" width="120">商品タイトル(日本)</td>
          <td align="center">リサーチ額</td>
          <td width="50" align="center">仕入画像</td>
          <td align="center" width="120">中国商品タイトル</td>
          <td align="center" width="40">URL</td>
          <td align="center" width="80">中国元原価</td>
          <td align="center" width="100">備考</td>
          <td width="5%"></td>
        </tr>
        </thead>
    </div>
    <% i=1 %>
    <% @buyitems.each do |buyitem| %>
      <% k=i%2 %>
      <tr class="tr-back<%= k %>" style="height:100px;">
        <td align="center" style="margin: 2px; padding:2px; width: 10%;">
          <% if buyitem.japan_image_url.present? %>
            <%= image_tag buyitem.japan_image_url, :size =>'90x90' %>
          <% end %></td>
        <td align="center" style="vertical-align:center; padding-top:7px; width: 30%;"><%= buyitem.japan_title %></td>
        <td align="right" style="width: 8%; text-align: center"><%= buyitem.japan_price.to_s(:delimited, delimiter: ',')  if buyitem.japan_price.present? %></td>
        <td align="center" style="margin: 2px; padding-top:7px; width: 10%;">
          <% if buyitem.china_image_url.present? %>
            <%= image_tag buyitem.china_image_url, :size =>'90x90' %>
          <% end %>
        </td>
        <td align="center" style="vertical-align:center; padding: 8px; width: 25%;"><%=buyitem.china_title %></td>
        <td align="center" style="width: 5%;">
          <% if buyitem.china_url.present? %>
            <%= link_to buyitem.china_url, target: :_blank %>
          <% end %>
        </td>
        <% if buyitem.china_price.present? %>
          <td align="right" style="width:9%; text-align: center;"><%=buyitem.china_price.to_s(:delimited, delimiter: ',')%></td>
        <% else %>
          <%= form_with(model:@buyitem ,url: buyitems_price_update_path(buyitem.id), method: :patch, local: true) do |fp| %>
            <td class="side_by_side"><%= fp.number_field :china_price, class:"form-control input-sm"%><%= fp.submit "更新", class:"btn btn-primary btn-xs side_btn"%></td>
          <% end %>
        <% end %>

        <td style="vertical-align:center; padding-top:7px; width: 10%"><%=buyitem.japan_description %></td>
        <!--modal -->
        <td>
          <a class="js-modal-open btn-square-so-pop-buy orange" href="" data-target=con<%=buyitem.id %>>　備考更新　</a><br><br>
          <%= button_to "削除", buyitem_delete_path, { method: :delete, class: "btn-square-so-pop-buy red",params: {id: buyitem.id}, data: { confirm: '本当に削除しますか？' }} %>
        </td>
        <div id=con<%= buyitem.id %> class="modal js-modal">
          <div class="modal__bg js-modal-close"></div>
          <div class="modal__content">
            <%= form_with(url: buyitem_edit_url, method: :post, local: true) do |f| %>
              <div class="field">
                <%= f.hidden_field :id,value:buyitem.id %>
                <%= f.label :"備考" %>
                <%= f.text_area :japan_description,value:buyitem.japan_description,cols:60,rows:5 %><br>
                <div id="go-btn">
                  <%= f.submit "実行", class: "btn btn-primary",　style: "width:100px; height:30px;" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!--modal__inner-->
      </tr>
      <% i=i.to_i+1 %>
    <% end %>
<% end %>
</table>
<br>