  <h1>在庫編集</h1>
<% if @item.blank? %>
<% @item=Item.find(@stock.item_id) %>
<% end %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "") %>件のエラーがあります。</h2>

      <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@stock, url:{controller:'stocks', action:'update'}) do |form| %>
<div class="row center">
  <div class="col-sm-12 col-md-12"></div>
  <div class="col-sm-12 col-md-12 lead">商品名：<%= @item.item_title %></div>
</div>
<div class="col-sm-2 col-md-3"></div>
<div class="col-sm-4 col-md-3">
  <div class="field">
    <%= form.label :仕入日 %><p class="smoll_required inline_form">*必須</p>
    <%= form.date_select :inventory_arrival_date, {}, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :今回何個仕入れたか %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :original_stock, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :仕入原価（通関料込みの金額、関税除く） %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :purchase_price, id:"jsNum", class: "form-control input-sm" %>
  </div>
  <div class="field">
    <%= form.label :仲介業者 %><p class="smoll_required inline_form">*必須</p>
    <%= form.text_field :trader_name, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :在庫数 %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :stock, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :最低在庫数 %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :alert_border_line, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :購入原価（円） %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :buy_item_to_jpy, { class: "form-control input-sm" } %>
  </div>
  <div class="field">
    <%= form.label :購入原価（中国元） %><p class="smoll_required inline_form">*必須</p>
    <%= form.number_field :buy_item_to_cny, { class: "form-control input-sm" } %>
  </div>
</div>
<div class="col-sm-4 col-md-3">
  <div class="field">
    <p><b>仕入商品名</b></p>
    <%if @item.buy_item_title.present?%>
      <div class="control">
        <%= @item.buy_item_title %>
      </div>
    <% else %>
      <p>まだ設定されていません<p>
    <% end %>
  </div>
  <div class="field">
    <p><b>仕入商品URL</b></p>
    <%if @item.buy_item_url.present?%>
      <div class="control">
        <div class="link">
          <%= text_url_to_link(h(@item.buy_item_url)).html_safe %>
        </div>
      </div>
    <% else %>
      <p>まだ設定されていません<p>
    <% end %>
  </div>
  <div class="field">
    <p><b>仕入商品画像</b></p>
    <%if @item.buy_item_url.present?%>
      <img src="<%= @item.china_item_picture %>">
    <% else %>
      <p>まだ設定されていません<p>
    <% end %>
  </div>
  <div class="hidden">
    <%= form.hidden_field :item_id,value:@item.id %>
  </div>
</div>
<div class="center col-sm-12 col-md-offset-0">
  <div>
    <br>
    <%= form.submit "登録する", :class=> 'btn btn-success', :size=>'10px', data: { confirm: '本当に登録しますか？' } %>
    <A HREF="javascript:history.back()" class='btn btn-danger'>キャンセル</A>
    <% end %>
  </div>
</div>