<h1>在庫データ更新</h1>
<div class="col-md-6 col-md-offset-4">
<%= form_for(@stock, url:{controller:'stocks', action:'update'}) do |form| %>
 <div class="field">
    <%= form.label :item_title,"商品名" %>
    <%= Item.find(@stock.item_id).item_title %>
  </div>
<div class="field">
    <%= form.label :inventory_arrival_date,"仕入日" %>
    <%= form.date_select :inventory_arrival_date %>
</div>

  <div class="field">
    <%= form.label :purchase_price,"仕入原価" %>
    <%= form.number_field :purchase_price %>
  </div>

  <div class="field">
    <%= form.label :trader_name,"購入業者" %>
    <%= form.text_field :trader_name %>
  </div>

  <div class="field">
    <%= form.label :stock,"在庫" %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :alert_border_line,"最低在庫数" %>
    <%= form.number_field :alert_border_line %>
  </div>
    <%= form.hidden_field :item_id %>
  
  <p>
    <%= form.submit "更新する", :class=> 'btn btn-primary', :size=>'10px' %>
  </p>
  <p>
  <A HREF="javascript:history.back()">前のページに戻る</A>
  </p>
<% end %>
</div>
