<% require 'active_support/core_ext/numeric/conversions' %>
<head>
<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]--><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<p id="notice"><%= notice %></p>
<% kubun=session[:kubun] %>
<%# session.delete(:kubun) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 maintext">僅少商品一覧</div>
    <div class="col-xs-4">
    <% if kubun==2 %>    
      <%= button_to "表示", {controller: 'stocks', action: 'inventory_dis'}, {method: :post, class: "btn btn-warning"} %>
    <% else %>
      <%= button_to "非表示", {controller: 'stocks', action: 'inventory_dis'}, {method: :post, class: "btn btn-warning"} %>
    <% end %></div>
    <div class="col-xs-2">
     <form method="POST" action="./cgi-bin/xxx.cgi">
        <div style="display:inline-flex">
          <div class="text-button">現在の想定レート</div>
          <input type="text" name="名前"  class="textbox-line">
        </div>
      </form>
    </div>
</div>
<br>
<% if kubun==1 %>
<div class="kousin">
<div id="content">
<table table border="1" class="table-bordered">
  <thead>
    <tr>
      <th class="th-text">商品タイトル</th>
      <th class="th-text" width="100" align="right">在庫数合計</th>
    </tr>
  </thead>
</div>
  <tbody>
    <% @items.each do |item| %>
    <% stockcount=item.stocks.sum(:stock)  %>
    <% if stockcount<20 %>
      <tr>
        <td><%= item.item_number %></td>
        <td align="right"><%= item.stocks.sum(:stock)  %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

</div></div></div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
