<% require 'active_support/core_ext/numeric/conversions' %>
<head>
<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]--><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<p id="notice"><%= notice %></p>
<div id="content">
<h1>在庫商品一覧</h1>
<table table border="1" class="table-striped">
  <thead>
    <tr>
      <th>製品コード</th>
      <th>商品タイトル</th>
      <th>在庫数合計</th>
      <th>想定販売額</th>
      <th>出品済サイト</th>
    </tr>
  </thead>
  <div id="content">


</div>
  <tbody>
    <% @items.each do |item| %>
    <% stockcount=item.stocks.sum(:stock)  %>
    <% if stockcount<20 %>
      <tr>
        <td><%= item.item_number %></td>
        <td><%= item.item_number %></td>
        <td align="right"><%= item.stocks.sum(:stock)  %></td>
        <td align="right"><%= item.simulate_price.to_s(:delimited) %></td>
        <td><%= shoppinglist(item.yahoo,item.amazon,item.mercari,item.rakuma,item.rakuten,item.yahooshoping) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>