<style type="text/css">
  #table_detail .hidden_row {
    display: none;
  }
</style>
<script>
    $(function() {
        //.accordion1の中のp要素がクリックされたら
        $('.accordion1 p').click(function() {
            //クリックされた.accordion1の中のp要素に隣接するul要素が開いたり閉じたりする。
            $(this).next('ul').slideToggle();
        });
    });
    $(function() {
        //ファイルが選択されたときに下記のchange()が作動
        $('#file').change(function() {
            //idがfoo要素のsubmitボタンを押す処理を行う。
            $('form')[0].submit().click('submit');
        });
    });
    function show_hide_row(row) {
        $("." + row).toggle();
    }
</script>
<div class="container">
  <div class="row row-height">
    <div class="col-sm-3">
      <div style="display:inline-flex">
        <button class="btn-square-so-pop" style="height:35px; width:130px;" disabled>現在の想定レート</button>
        <input type="text" name="名前" readonly value=<%=chanarate(1.5) %> style="width:100px; text-align: center;"></input>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div>
    <section id="acdemo1">
      <div class="accordion1">
        <p class="btn btn-primary btn-xs right acstyle" style="margin-left:35px">表示/非表示</p>
        <ul class="inner">
          <div id="mymenu">
            <div class="kousin">
              <table table border="1" class="table-back">
                <thead>
                <tr>
                  <th width="500">商品タイトル</th>
                  <th class="th-text" width="120" align="right">在庫数合計</th>
                </tr>
                </thead>
                <% @items.each do |item| %>
                  <% stockcount=item.stocks.sum(:stock)  %>
                  <% if stockcount<20 %>
                    <tr>
                      <td><%= item.item_title %></td>
                      <td><%= item.stocks.sum(:stock)  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </ul>
      </div>
    </section>
    <br>
    <% admin=false %>
    <% admin=current_user.admin if current_user %>
    <% if admin==true %>
      <div class="row" style="margin-left:30px">
        <div class="col-xs-1">
          <%= form_with url: import_items_path, multipart: true, id: "foo" do %>
            <label>
              <%= file_field_tag :file, class: "input-default"  %>
              <div class="btn-square-so-pop center">インポート</div>
              <%= submit_tag "インポート" ,class: "input-default" %>
            </label>
          <% end %>
        </div>
    <% elsif admin!=true && current_user %>
      <div class="row" style="margin-left:30px">
        <div class="col-xs-1">
          <label>
            <div class="btn-square-so-pop-user center">インポート(使用不可)</div>
            <%= submit_tag "インポート" ,class: "input-default" %>
          </label>
        </div>
    <% end %>
    <div class="col-xs-1"></div>
    <div class="col-xs-1">
      <%= button_to "エクスポート", {controller: 'stocks', action: 'csv_export',items_find: @search,format: :csv}, {method: :post, class: "btn-square-so-pop"} %>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= form_with :action=>"inventory_control", :controller=>"stocks" , method: :get, local: true do |form| %>
        <label>商品名及び製品番号検索
          <div id="search-input">
            <%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
          </div>
          <%= hidden_field_tag :kubun, "1"  %>
          <div id="search-btn">
            <%= submit_tag "検索", :name => nil, data: { disable_with: "検索中" }, class:"btn btn-primary btn-xs"  %>
          </div>
        </label>
      <% end %>
    </div>
    <div class="col-xs-1">
      <button class="btn-square-so-pop" data-toggle="modal" data-target="#modal-sample">
        仕入一括登録
      </button></div>
    <div class="col-xs-1"></div>
    <div class="col-xs-1">
      <%= form_with(url: "/items/destroy_many", method: :delete, local: true, id: :delete_form) do |form| %>
        <%= form.submit '一括削除',id: "delete_form", class: 'btn-square-so-pop red', data: { confirm: '本当に削除しますか？' } %>
      <% end %>
      <!--<form id="delete_form" action=""> -->
    </div>
    <div class="col-xs-5"></div>
  </div>
  <div class="col-xs-1"></div>
</div>
<section id="acdemo1">
  <div class="accordion1">
    <p class="btn btn-primary btn-xs right style" "display:inline;">表示/非表示</p>
    <% if @items_find.present? %>
      <%= "検索件数#{@items_find.count}件です" %>
      <ul class="inner">
        <div class="kousin2">
          <table table border="1" id="table_detail" class="table-back22">
            <thead>
            <tr class="tr-back2">
              <th width="5" width="30" style="text-align: center; height: 40px;">商品画像</th>
              <th width="50" style="text-align: center">製品コード</th>
              <th width="20" style="text-align: center">商品タイトル</th>
              <th width="60" style="text-align: center">在庫計</th>
              <th width="160" style="text-align: center">想定価格</th>
              <th width="170" style="text-align: center">出品サイト</th>
              <th width="30" style="text-align: center">削除</th>
            </tr>
            </thead>
        </div>
        <% i=1 %>
        <% @items_find.each do |item| %>
          <% yahoo=item.yahoo %>
          <% amazon=item.amazon %>
          <% mercari=item.mercari %>
          <% rakuma=item.rakuma %>
          <% rakuten=item.rakuten %>
          <% yahooshoping=item.yahooshoping %>
          <% k=i%2 %>
          <tr class="tr-back<%= k %>">
            <td style="padding:6px"; onclick="show_hide_row('hidden_row<%=i %>')" ;>
              <% if item.item_picture.present? %>
                <%= image_tag item.item_picture, :size =>'80x80' %>
              <% end %>
            </td>
            <td class="link">
              <%= link_to item.part_number, "/items/#{item.id}/edit" %>
            </td>
            <td width="500" align="left"><%= item.item_title%></td>
            <td>
              <% if item.stocks.sum(:stock)<20 %>
                <font color="red">
              <% end %>
              <%= item.stocks.sum(:stock)  %></td>
            <td>
              <% if item.simulate_price.presence %>
                <%= item.simulate_price.to_s(:delimited, delimiter: ',') %>
              <% else %>
                <%= form_with(model:@item ,url: price_update_path(item.id), method: :patch, local: true) do |fp| %>
                  <div id = "price_form">
<!--                    <div class="side_by_side"><%#= fp.number_field :simulate_price, class:"fp_form side_form"%></div>-->
                    <div class="side_by_side"><%= fp.number_field :simulate_price, class:"form-control input-sm"%></div>
                    <div class="side_by_side"><%= fp.submit "更新", class:"btn btn-primary btn-xs side_btn"%></div>
                <% end %>
              <% end %>
            </td>
            <td><%= exhibition(yahoo,amazon,mercari,rakuma,rakuten,yahooshoping) %></td>
            <td><input type="checkbox" form="delete_form" name="deletes[<%= item.id %>]" id="deletes_<%= item.id %>" value="1">
              <%#= check_box_tag "deletes[#{ item.id }]", item.id%></td>
          </tr>
          <% stocks=Stock.where(item_id:item.id)%>

          <% classname="hidden_row hidden_row"+i.to_s %>
          <tr>
          <tr class="<%= classname %> tr-sub-back2">
            <th colspan="2">仕入日</th>
            <th>購入業者</th>
            <th>在庫数</th>
            <th>仕入原価</th>
            <th colspan="2">編集</th>
          </tr>
          <% y=1 %>
          <% stocks.each do |stock| %>
            <% u=y%2 %>
            <tr class="<%= classname %> tr-sub-back<%= u %>">
              <td colspan="2"><%= stock.inventory_arrival_date %></td>
              <td><%= stock.trader_name %></td>
              <td><%= stock.stock %></td>
              <td><%= stock.purchase_price.to_s(:delimited, delimiter: ',') if stock.purchase_price.present? %></td>
              <td colspan="2" class="link"><%= link_to "編集", "/stocks/#{stock.id}/edit" %></td>
            </tr>
            <% y=y+1 %>
            </tr>
          <% end %>
          <tr class="<%= classname %> tr-sub-back0">
            <td colspan="5" style="border-right-style:none;"></td>
            <td colspan="2" class="link" style="border-left-style:none; ">
              <%= link_to "新規登録", "/stocks/#{item.id}/stock_new" %>
            </td>
          </tr>
          <% i=i.to_i+1 %>
        <% end %>
    <% end %>
    </table>
    </section>
</div>
</div>
</div>
<!-- 2.モーダルの配置 -->
<div class="modal fade" id="modal-sample" tabindex="-1">
  <div class="modal-dialog modal-lg">

    <!-- 3.モーダルのコンテンツ -->
    <div class="modal-content">
      <!-- 4.モーダルのヘッダ -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label"><b>仕入一括登録　在庫一覧</b></h4>
      </div>
      <!-- 5.モーダルのボディ -->
      <div class="modal-body">
        <table table border="1" id="table_detail" class="table-back22">
          <thead>
          <tr class="modal-th">
            <td width="50" align="center">画像</td>
            <td width="40" align="center">製品コード</td>
            <td width="250" align="center">商品タイトル</td>
            <td width="100" align="center">購入業者</td>
            <td width="70" align="center">在庫数</td>
            <td width="80" align="center">仕入原価</td>
            <td width="70" align="center">在庫備考</td>
            <td width="40" align="center">対象</td>
          </tr>
          </thead>
      </div>
      <% i=1 %>
      <%= form_tag '/stocks/manynewbuyitem', method: :put do %>
        <% @stockslist.each do |stocklist| %>
          <%= fields_for "stocktobuyitems[]",stocklist do |buy| %>
            <% k=i%2 %>
            <tr class="tr-sub-back<%= k %>">
              <td style="padding: 4px;">
                <% if stocklist.item.item_picture.present? %>
                  <%= image_tag stocklist.item.item_picture, :size =>'50x50' %>
                <% end %>
              </td>
              <td style="text-align: center"><%= stocklist.item.part_number %></td>
              <td><%= stocklist.item.item_title %></td>
              <td style="text-align: center"><%= stocklist.trader_name %></td>
              <td style="text-align: center"><%= stocklist.stock %></td>
              <td style="text-align: center"><%= stocklist.purchase_price.to_s(:delimited, delimiter: ',') if stocklist.purchase_price.present? %></td>
              <td><%= buy.text_field :japan_description, class: "form-control input-sm" %></td>
              <td align="center"><%= buy.check_box :check %></td>
              <%= buy.hidden_field :item_id %>
            </tr>
            <%i=i+1 %>
          <% end %>
        <% end %>
        </table>
        <div id="modal-btn">
          <%= submit_tag value="仕入一括登録", :class => "btn btn-primary btn-lm" %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
</div>
