<div class="inventory_table">
  <div class="kousin2" style="margin-top: 30px">
    <table border="1">
      <tr class="tr-back2" style="height: 30px">
        <th class="product_th" width="10%">仕入れ日</th>
        <th class="product_th" width="40%">タイトル</th>
        <th class="product_th" width="10%">JANコード</th>
        <th class="product_th" width="20%">業者名</th>
        <th class="product_th" width="10%">金額</th>
        <th class="product_th" width="10%">現在庫数</th>
      </tr>
    <% i=1 %>
    <% @item_stocks.each do |item_stock| %>
      <% k=i%2 %>
      <tr class="tr-back<%= k %>" style="height:40px;">
        <td style="text-align: center"><%= item_stock.inventory_arrival_date %></td>
        <td style="text-align: left"><%= item_stock.item.item_title %></td>
        <td style="text-align: center"><%= item_stock.item.jan_code %></td>
        <td style="text-align: center"><%= item_stock.trader_name %></td>
        <td style="text-align: center"><%= item_stock.purchase_price %></td>
        <td style="text-align: center"><%= item_stock.stock %></td>
      </tr>
      <% i=i.to_i+1 %>
    <% end %>
    </table>
  </div>
</div>
<div>
  <table border="1" style="border-collapse: collapse; border-color: black" class="sale_table">
    <tr class="tr-back2" style="height: 30px">
      <td class="product_th2" width="10%">前年度期末 商品棚卸高</td>
      <td class="product_th2" width="10%">今年度仕入<br>
          原価合計額</td>
      <td class="product_th2" width="10%">今年度期末<br>
          商品棚卸高</td>
      <td class="product_th2" width="10%">売上原価</td>
    </tr>
    <tr class="tr-back0">
      <td style="text-align: center; padding: 15px">
        <% if @this_year_beginning_product_inventory.beginning_product_inventory.nil? %>
          <%= form_with(url: takeinventory_update_path,local: true) do |ti| %>
            <div id="num-input">
              <%= ti.number_field :beginning_product_inventory, {class: "form-control"} %>
            </div>
            <div id="update-btn">
              <%= ti.submit "更新", class:"btn btn-primary" %>
            </div>
          <% end %>
          <% else %>
          <%= @this_year_beginning_product_inventory.beginning_product_inventory %>
        <% end %>
      </td>
      <td style="text-align: center"><%= @total_purchase_cost_this_year %></td>
      <td style="text-align: center"><%= @this_year_beginning_product_inventory.period_end_product_inventory if @this_year_beginning_product_inventory.period_end_product_inventory.present? %></td>
      <td style="text-align: center"><%= @this_year_beginning_product_inventory.cost_of_sales if @this_year_beginning_product_inventory.cost_of_sales.present? %></td>
    </tr>
  </table>
    <%= link_to "CSVエクスポート", stock_path(format: :csv), class: "btn btn-warning inventory_csv_output_btn" %>
</div>
