<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory arrival date:</strong>
  <%= @stock.inventory_arrival_date %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @stock.purchase_price %>
</p>

<p>
  <strong>Trager name:</strong>
  <%= @stock.trager_name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @stock.stock %>
</p>

<p>
  <strong>Alert border line:</strong>
  <%= @stock.alert_border_line %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @stock.item_number %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
