<h1>在庫新規登録</h1>
<%= form_with(model: @stock, local: true) do |form| %>
<div class="row">
<div class="col-sm-6 col-md-3"></div>
        <div class="col-md-9 lead">商品名：<%= @item.item_title %></div>
</div>
<%#= render 'form', stock: @stock %>
<div class="col-sm-6 col-md-3"></div>
<div class="col-sm-6 col-md-3">
<div class="field">
    <%= form.label :仕入日 %>
    <%= form.date_select :inventory_arrival_date %>
</div>

  <div class="field">
    <%= form.label :想定価格 %>
    <%= form.number_field :simulate_price,value:@item.simulate_price%>
  </div>

  <div class="field">
    <%= form.label :仲介業者 %>
    <%= form.text_field :trader_name %>
  </div>
<div class="field">
    <%= form.label :在庫数 %>
    <%= form.number_field :stock %>
  </div>
  <div class="field">
    <%= form.label :元々の在庫数 %>
    <%= form.number_field :original_stock %>
  </div>

  <div class="field">
    <%= form.label :最低在庫数 %>
    <%= form.number_field :alert_border_line %>
  </div>
  <div class="field">
    <%= form.label :商品製造番号 %>
    <%= form.text_field :item_number_id,value:@item.item_number %>
  </div>

  
  <div class="hidden">
    
    <%= form.hidden_field :item_id,value:@item.id %>
  </div>
 
</div>
<div class="col-sm-6 col-md-3">
  <div class="field">
    <%= form.label :部品番号 %>
    <%= form.text_field :part_number,value:@item.part_number%>
  </div>
  
  <div class="field">
    <%= form.label :仕入商品名 %>
    <%= form.text_field :buy_item_title,value:@item.item_title,size:"40" %>
  </div>
  
  <div class="field">
    <%= form.label :仕入URL %>
    <%= form.text_field :buy_item_url,value:@item.china_item_picture,size:"40" %>
  </div>
  <div class="field">
    <%= form.label :購入原価（円） %>
    <%= form.number_field :buy_item_to_jpy %>
  </div>
  <div class="field">
    <%= form.label :購入原価（中国元） %>
    <%= form.number_field :buy_item_to_cny %>
  </div>
  <div class="field">
    <%= form.label :仕入商品画像 %>
    <%= form.text_field :buy_item_image_url,value:@item.item_picture,size:"40" %>
  </div>
   <%= form.submit "登録する", :class=> 'btn btn-primary', :size=>'10px', data: { confirm: '本当に登録しますか？' } %>
    <A HREF="javascript:history.back()" class='btn btn-primary'>キャンセル</A>
  
<% end %>

</div>
