<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6 col-md-offset-1">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control"%>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
  <div class="field">
    <%= form.label :employee_number %>
    <%= form.text_field :employee_number, class:"form-control" %>
  </div>
  <% end %>
  <div class="field">
    <%= form.label :line_id %>
    <%= form.text_field :line_id, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :account_bank_name, class:"administrator" %>
      <%= form.text_field :account_bank_name, class:"form-control" %>
    </div>
    <div class="field">
      <%= form.label :account_number, class:"administrator" %>
      <%= form.number_field :account_number, class:"form-control" %>
    </div>
    <div class="field">
      <%= form.label :business_consignment_expenses, class:"administrator" %>
      <%= form.number_field :business_consignment_expenses, class:"form-control" %>
    </div>
  <p class = "administrator">雇用形態を選択してください(複数選択可)</p>
  <div class="field　form-inline" >
  <label class="checkbox-inline administrator"><%= form.check_box :inventory_manager_flg %>在庫管理</label>

  <label class="checkbox-inline administrator"><%= form.check_box :reserch_user_flg %>リサーチ</label>
  </div>
  <% end %>
  <div class="actions" id="action">
  <%= form.submit yield(:button_text), class:"btn btn-primary btn-block btn-#{yield(:class_text)}"%>
  </div>
  <p style="font-size: 14px;"><img src="https://zet-art.net/wp-content/uploads/2019/03/caution-01.png" alt="注意" width="40" height="40" border="0" />︎アカウント作成後はプロフィール編集でプロフィール画像を設定して下さい。</p>
</div>

<% end %>