<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>
<div class="col-md-10 col-md-offset-1 ">
  <%= will_paginate %>
  <table class="table table-bordered table-condensed user-table s-tbl">
    <thead>
      <tr class="user-font">
        <td style="font-size: 14px; padding: 10px;" class="table_haed_color">写真</td>
        <td class="table_haed_color">名前</td>
        <td class="table_haed_color">社員番号</td>
        <td class="table_haed_color">LINE_ID</td>
        <td class="table_haed_color">電話番号</td>
        <td class="table_haed_color">編集</td>
        <td class="table_haed_color">削除</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= gravatar_for user %></td>
          <td class="link" style="font-size: 18px;"><%= link_to user.name, user %></td>
          <td style="font-size: 18px; text-align: center;"><%= user.employee_number %></td>
          <td style="font-size: 18px; text-align: center;"><%= user.line_id %></td>
          <td style="font-size: 18px; text-align: center;"><%= user.phone_number %></td>
          <td style="text-align: center;"><%= link_to '編集', edit_user_path(user), class: "btn btn-success" %></td>
          <td style="text-align: center;"><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除してもいいでしょうか？' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= will_paginate %>
</div>
