<div id="left_gravatar">
<%= gravatar_for @user %>
</div>
<div id="righ_form">
  <ul class ="show_deta">
    <li>名前:&ensp; <%= @user.name %></li>
    <li>社員番号: <%= @user.employee_number %></li>
    <li>ラインID:&ensp; <%= @user.line_id %></li>
    <li>メールアドレス:&ensp; <%= @user.email %></li>
    <li>住所:&ensp; <%= @user.address %></li>
    <li>電話番号:&ensp; <%= @user.phone_number %></li>
    <li>口座銀行名:&ensp; <%= @user.account_bank_name %></li>
    <li>口座番号:&ensp; <%= @user.account_number %></li>
    <li>業務委託費:&ensp; <%= @user.business_consignment_expenses %></li>
    <li>在庫管理者権限:&ensp; <% if @user.inventory_manager_flg == 1 %>
                              権限あり。
                            <% else %>
                              権限なし。
                            <% end %> </li>
    <li>リサーチ権限:&ensp; <% if @user.inventory_manager_flg == 1 %>
                            権限あり。
                          <% else %>
                            権限なし。
                          <% end %> </li>
    <li>退職理由:&ensp; <% @user.fired_flg %>
    <li>管理者権限:&ensp; <% if @user.admin == 1 %>
                          権限あり。
                        <% else %>
                          権限なし。
                        <% end %> </li>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
