<div class="col-md-6 col-md-offset-3">
  <%= form_with(model: item, url: items_path, method: :post, local: true) do |form| %>
    <div class="field">
      <%= form.label :item_title %>
      <%= form.text_field :item_title, class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :part_number %>
      <%= form.text_field :part_number, class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :simulate_price %>
      <%= form.text_field :simulate_price, class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :item_picture %>
      <%= form.text_field :item_picture, class:"form-control" %>
    </div>
    <%= form.fields_for :stocks do |stock| %>
      <div class="field">
        <%= stock.label :buy_item_to_jpy %>
        <%= stock.number_field :buy_item_to_jpy, class:"form-control" %>
      </div>

      <div class="field">
        <%= stock.label :buy_item_title %>
        <%= stock.text_field :buy_item_title, class:"form-control" %>
      </div>

      <div class="field">
        <%= stock.label :buy_item_url %>
        <%= stock.text_field :buy_item_url, class:"form-control" %>
      </div>

      <div class="field">
        <%= stock.label :buy_item_to_cny %>
        <%= stock.number_field :buy_item_to_cny, class:"form-control" %>
      </div>

      <div class="field">
        <%= stock.label :buy_item_image_url %>
        <%= stock.text_field :buy_item_image_url, class:"form-control" %>
      </div>
      <% end %>
    <div class="actions">
      <%= form.submit "商品作成" , class:"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
