<h1>商品データ更新</h1>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "") %>件のエラーがあります。</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-3 col-md-3"></div>
<div class="col-sm-6 col-md-6">
<%= form_with(model: @item, local: true) do |form| %>
<div class="field">
  <%= form.label :part_number,"製品番号" %>
  <%= form.text_field :part_number, { class: "form-control input-sm" } %>
</div>
<div class="field">
  <%= form.label :item_title,"商品名" %>
  <%= form.text_field :item_title, class: "form-control input-sm" ,:size=>"50" %>
  </div>
<div class="field">
  <%= form.label :simulate_price,"想定価格" %>
  <%= form.number_field :simulate_price, { class: "form-control input-sm" } %>
</div>
<b>出品サイト</b>
<table>
<tr style="height:30px;">
<td>
<%= form.check_box :yahoo %>
<B>Yahoo</B>
</td>
<td>
<%= form.check_box :amazon %>
<B>Amazon</B>
</td>
<td>
<%= form.check_box :mercari %>
<b>メルカリ</b>
</td>
<td>
<%= form.check_box :rakuma %>
<b>ラクマ</b>
</td></tr>
<tr>
  <td >
  <%= form.check_box :rakuten %>
  <b>楽天</b>
  </td>
<td colspan="2">
  <%= form.check_box :yahooshoping %>
  <b>ヤフーショッピング</b>
</td></tr>
</table>
  <div class="field">
    <%= form.label :"仕入商品名(業者側商品名)"%>
    <%= form.text_field :buy_item_title, class: "form-control input-sm", :size=>"100" %>
  </div>
  <div class="field">
    <%= form.label :日本側の商品URL %>
    <%= form.text_field :buy_item_url, class: "form-control input-sm", :size=>"100" %>
  </div>
  <div class="field">
    <%= form.label :中国側商品画像url %>
    <%= form.text_field :china_item_picture, class: "form-control input-sm", :size=>"100" %>
  </div>

</div>
<div class="col-sm-3 col-md-3"></div>
<div class="col-sm-12 col-md-12 center">
  <p><br>
    <%= form.submit "更新する", :class=> 'btn btn-success', :size=>'10px' %>
    <A HREF="javascript:history.back()" class='btn btn-danger'>キャンセル</A>
  </p>
  <% end %>
</div>
