<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Item number</th>
      <th>Item image</th>
      <th>China item image</th>
      <th>Part number</th>
      <th>Jan code</th>
      <th>Simulate price</th>
      <th>Yahoo</th>
      <th>Amazon</th>
      <th>Mercari</th>
      <th>Rakuma</th>
      <th>Rakuten</th>
      <th>Yahooshoping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_number %></td>
        <td><%= item.item_title %></td>
        <td><%= item.part_number %></td>
        <td><%= item.jan_code %></td>
        <td><%= item.simulate_price %></td>
        <td><%= item.yahoo %></td>
        <td><%= item.amazon %></td>
        <td><%= item.mercari %></td>
        <td><%= item.rakuma %></td>
        <td><%= item.rakuten %></td>
        <td><%= item.yahooshoping %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
