 <style type="text/css">
  #table_detail .hidden_row {
    display: none;
  }
</style>
<script>
$(function() {
    //.accordion1の中のp要素がクリックされたら
    $('.accordion1 p').click(function() {
      //クリックされた.accordion1の中のp要素に隣接するul要素が開いたり閉じたりする。
      $(this).next('ul').slideToggle();
    });
});
function show_hide_row(row) {
    $("." + row).toggle();
}
</script>
<table>
  <tr>
    <td width=50></td>
    <td width=50><%= button_to "エクスポート", {controller: 'items', action: 'csv_soldoutexport',items: @item,format: :csv}, {method: :post, class: "btn-square-so-pop"} %></td>
    <td width=260> <%= form_with(url: "/items/destroy_many", method: :delete, local: true) do |form| %>
      <%= form.submit '一括削除', class: 'btn-square-so-pop red',data: { confirm: '本当に削除しますか？' } %></td>
    <td width=630>
      <div style="display:inline-flex">
        <button class="btn-square-so-pop"  style="height:35px; width:130px;"  disabled>現在の想定レート</button>
        <input type="text" name="名前" readonly value=<%=chanarate(1.5) %> style="width:70px;"></input>
      </div>
    </td>
  </tr>
</table>
<% if @items.present? %>
<ul class="inner">
  <div class="kousin2" >
    <table table border="1" id="table_detail">
      <thead>
        <tr class="tr-back2">
          <td width="40">削除</th>
          <td align="center" width="70">商品画像</th>
          <td align="center" width="100">製品コード</th>
          <td align="center" width="400">商品タイトル</th>
          <td align="center" width="100">在庫計</th>
          <td align="center" width="100">想定価格</th>
          <td align="center" width="170">出品サイト</th>
        </tr>
      </thead>
  </div>
  <% i=1 %>
  <% @items.each do |item| %>
  <% if item.stocks.sum(:stock)==0 %>
  <% yahoo=item.yahoo %>
  <% amazon=item.amazon %>
  <% mercari=item.mercari %>
  <% rakuma=item.rakuma %>
  <% rakuten=item.rakuten %>
  <% yahooshoping=item.yahooshoping %>
  <% k=i%2 %>
  <tr class="tr-back<%= k %>">
    <td align="center" style="padding: 3px;"><%= check_box_tag "deletes[#{ item.id }]", item.id %></td>
    <td align="center" style="padding: 2px;" onclick="show_hide_row('hidden_row<%=i %>')" ;>
      <% if item.item_picture.present? %>
        <% uri=URI.parse(item.item_picture) %>
      <% end %>
      <% if uri.scheme=="https" or uri.scheme=="http" %>
        <%= image_tag item.item_picture, :size =>'50x25' %>
      <% end %>
    </td>
    <td align="center" style="padding: 2px;" align="center">
        <%= link_to item.part_number, "/items/#{item.id}/edit" %>
    </td>
    <td><%= item.item_title%></td>
    <td align="right">
      <%= item.stocks.sum(:stock)  %></td>
    <td align="right"><%= item.simulate_price.to_s(:delimited, delimiter: ',') %></td>
    <td><%= exhibition(yahoo,amazon,mercari,rakuma,rakuten,yahooshoping) %></td>
  </tr>
  <% stocks=Stock.where(item_id:item.id)%>
  <% classname="hidden_row hidden_row"+i.to_s %>
  <% if stocks.count>0 %>
  <tr>
  <tr class="<%= classname %> tr-sub-back2" align="center">
    <th colspan="2">仕入日</th>
    <td align="center">購入業者</th>
    <td align="center">在庫数</th>
    <td align="center">仕入原価</th>
    <td >仕入原価合計</th>
  </tr>
  <% y=1 %>
  <% stocks.each do |stock| %>
    <% u=y%2 %>
    <tr class="<%= classname %> tr-sub-back<%= u %>">
    <td colspan="2"><%= stock.inventory_arrival_date %></td>
    <td align="left"><%= stock.trader_name %></td>
    <td align="right"><%= stock.stock %></td>
    <td align="right"><%= stock.purchase_price.to_s(:delimited, delimiter: ',') %></td>
    <td align="right"><%= (stock.purchase_price*stock.stock).to_s(:delimited, delimiter: ',') %></td>
    </tr>
    <% y=y+1 %>
  <% end %>
  <% end %>
  <% i=i.to_i+1 %>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  </table>
  <br>
  <table align="right" style="margin-right:120px">
    <tr><td>
      <div class="reserch_btn">
      <p class="reserch_p">⬇商品登録ページへ️️️</p>
      <%= link_to product_registration_path(current_user), target: "_blank" do %>
        <img src= "https://i1.wp.com/sozaikoujou.com/wordpress/wp-content/uploads/2016/06/th_app_button_plus.jpg?w=600&ssl=1"  border="0", class="reserch_btn_btn" />
      <% end %>
      </div>
    </td></tr>
  </table>

