<p id="notice"><%= notice %></p>

<p>
  <strong>Japan image url:</strong>
  <%= @reserch.japan_image_url %>
</p>

<p>
  <strong>Japan title:</strong>
  <%= @reserch.japan_title %>
</p>

<p>
  <strong>Japan url:</strong>
  <%= @reserch.japan_url %>
</p>

<p>
  <strong>Japan description:</strong>
  <%= @reserch.japan_description %>
</p>

<p>
  <strong>Japan price:</strong>
  <%= @reserch.japan_price %>
</p>

<p>
  <strong>China image url:</strong>
  <%= @reserch.china_image_url %>
</p>

<p>
  <strong>China title:</strong>
  <%= @reserch.china_title %>
</p>

<p>
  <strong>China url:</strong>
  <%= @reserch.china_url %>
</p>

<p>
  <strong>China price:</strong>
  <%= @reserch.china_price %>
</p>

<p>
  <strong>Item:</strong>
  <%= @reserch.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @reserch.user %>
</p>

<%= link_to 'Edit', edit_reserch_path(@reserch) %> |
<%= link_to 'Back', reserches_path %>
