<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%# if logged_in? %>
      <%#= link_to "在庫管理システム", item_research_path, id: "logo" %>
      <%# else %>
      <%= link_to "在庫管理システム", root_path, id: "logo" %>
      <%# end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "在庫管理", inventory_control_path(current_user) %></li>
        <li><%= link_to "リサーチ", item_research_path(current_user) %></li>
        <li><%= link_to "商品棚卸", stock_path(current_user) %></li>
        <li><%= link_to "商品仕入", buyitem_path(current_user) %></li>
        <li><%= link_to "商品僅少", product_scarce_path(current_user)  %></li>
        <li><%= link_to "売切れ商品", sold_out_path(current_user) %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              マイアカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィールの編集", edit_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li><% gravatar_id = Digest::MD5::hexdigest(current_user.email.downcase) %>
            <%= link_to edit_path(current_user), target: "_blank" do %>
             <img src= "https://secure.gravatar.com/avatar/#{gravatar_id}"  border="0", class="header_gravatar" />
             <% end %>
          </li>
        <% else %>
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "アカウント作成",signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<% if logged_in? && current_user.admin? %>
<div class="reserch_btn">
  <p class="reserch_p">⬇商品登録ページへ️️️</p>
  <%= link_to product_registration_path(current_user), target: "_blank" do %>
    <img src= "https://i1.wp.com/sozaikoujou.com/wordpress/wp-content/uploads/2016/06/th_app_button_plus.jpg?w=600&ssl=1"  border="0", class="reserch_btn_btn" />
  <% end %>
</div>
<% end %>